/*

.interiors {
  padding: 30px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.interiors-texts p {
  color: rgb(80, 80, 80);
}

.interiors-texts p span {
  font-size: 25px;
  color: red;
  font-weight: bold;
}

.interiors-texts h3 {
  margin-top: 10px;
  letter-spacing: 0.9rem;
}

.famous {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  padding: 5px;
}

.famous h4 {
  box-shadow: 0 0 5px 1px red;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
  transform: scale(1);
}

.famous h4:hover {
  transform: scale(1.1);
}

.famous-img {
  width: 100px;
}

.famous img {
  width: 100%;
  border-radius: 50%;
  height: 100px;
  border: 1px solid red;
  display: block;
}

@media screen and (min-width: 664px) {
  .famous {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 868px) {
  .famous {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .interiors-center {
    display: flex;
  }

  .famous-img {
    width: 100px;
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
  }

  .famous:hover .famous-img {
    transform: translateX(-120px);
  }

  .famous h4 {
    transition: all 0.5s ease-in-out;
    transform: translateX(0) scale(1);
    text-transform: capitalize;
  }

  .famous:hover h4 {
    transform: translateX(220px);
  }
}

*/

/* New */

.img {
  width: 100%;
}
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 30px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
